body {
    background-color: #F7F7F7;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.central-elm {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.central-elm .center-text input {
    text-align: center;
}

.central-elm > * {
    display: block !important;
    margin: 0 auto !important;
}

.central-elm > *:not(:first-child) {
    margin-top: 5px !important;
}

/*.separating-rule {*/
    hr {
        float: left;
    }
/*}*/